.logotipo{
    width: 100px;
    
    
}

.carousel-caption {
    position: absolute;
    top: 35%;
    bottom: 20px;
    left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}

.iconos-redes{
    width: 25px;
    margin: 10px 5px;
}
footer{
    background-color: rgb(41, 0, 107);
    padding: 20px 0;
    text-align: center;
}

footer .logotipo-footer{
    width: 100px;
    margin-bottom: 5px ;
}